<footer>
  <a class="arrow" href="#" title="Go to top part"
    ><img src="./assets/images/ico-arrow.svg" alt=""
  /></a> 
  <nav>
    <ul>
      <li>articles</li>
      <li>books</li>
      <li>events</li>
      <li>reasons</li>
      <li>tips</li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>twitter</li>
      <li>instagram</li>
      <li>mastodon.social</li>
    </ul>
  </nav>
  <section>
    <div>&copy; 2021</div>
    <div>we<span>&#10084</span> components</div>
   
  </section>

</footer>
