<footer class="footer">
  <a class="footer__arrow" href="#" title="Go to top part"
    ><img src="./assets/images/ico-arrow.svg" alt=""
  /></a> 
  <section >
    <nav class="footer__menu">
      <ul class="footer__menu--item">
        <li>articles</li>
        <li>books</li>
        <li>events</li>
        <li>reasons</li>
        <li>tips</li>
      </ul>
    </nav>
  </section>
  <section >
    <nav class="footer__menu">
      <ul class="footer__menu--item">
        <li>twitter</li>
        <li>instagram</li>
        <li>mastodon.social</li>
      </ul>
    </nav>
  </section>
  <section class="footer__copy">
    <div>&copy; 2021</div>
    <div>we <span class="heart">&#10084</span> components</div>
   
  </section>

</footer>
