<footer class="footer">
  <a class="footer__arrow" href="#header" title="Go to top part"
    ><img src="./assets/images/ico-arrow.svg" alt=""
  /></a> 
  <section >
    <nav class="footer__menu">
      <ul class="footer__menu--item">
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">articles</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">books</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">events</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">reasons</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">tips</li></a>
      </ul>
    </nav>
  </section>
  <section >
    <nav class="footer__menu">
      <ul class="footer__menu--item">
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">twitter</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">instagram</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">mastodon.social</li></a>
      </ul>
    </nav>
  </section>
  <section class="footer__copy">
    <div>&copy; 2021</div>
    <div>we <span class="heart">&#10084</span> components</div>
   
  </section>

</footer>
