<main class="main">
  <section class="section1">
    <h2 class="section1__small">Insomnia Tips</h2>
    <h2 class="section1__tittle">Looking Through A Window</h2>
    <p class="section1__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat ad
      ipsam, dolore consectetur expedita maiores officia officiis! Sint dolore,
      assumenda porro labore officia doloribus totam quaerat placeat obcaecati
      explicabo!
    </p>
    <button class="section1__button">Go</button>
  </section>
  <section class="section2">
    <h2 class="reasons" id="reasons">3 Reasons To Purchase</h2>
    <article class="section2__article">
      <h3 class="tittle">Ut sed metus</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </article>
    <article class="section2__article">
      <h3 class="tittle">Ut sed metus</h3>
      <p class="text">
        Cumque eaque quis deleniti inventore! Dignissimos dolor.
      </p>
    </article>
    <article class="section2__article">
      <h3 class="tittle">Morbi dictum</h3>
      <p class="text">
        Larchitecto, officia ratione, maiores voluptatum facilis.
      </p>
    </article>
    <button class="section2__button--more">
      <a class="link" href="" title="Go to more reasons">More reasons</a>
    </button>
  </section>
</main>
