<main>
  <section>
    <small>Insomnia Tips</small>
    <h2>Looking Through A Window</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat ad
      ipsam, dolore consectetur expedita maiores officia officiis! Sint dolore,
      assumenda porro labore officia doloribus totam quaerat placeat obcaecati
      explicabo!
    </p>
    <button>Go</button>
  </section>
  <section>
    <h2>3 Reasons To Purchase</h2>
    <h3>Ut sed metus</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <h3>Ut sed metus</h3>
    <p>Cumque eaque quis deleniti inventore! Dignissimos dolor.</p>
    <h3>Morbi dictum</h3>
    <p>Larchitecto, officia ratione, maiores voluptatum facilis.</p>
    <button>More reasons</button>
    <a class="" href="#" title="Go to top part"
      ><img src="./assets/images/ico-arrow.svg" alt=""
    /></a>
  </section>
</main>
