// fonts
$font-main: "Roboto", sans-serif;
$font-tittle: "Roboto Slab", sans-serif;

// colors
$color-orange: #f26002;
$color-dark-grey-blue: #304268;
$color-white: #ffffff;
$color-ice-blue: #eff9ff;
$color-lightblue: lightblue;
